body{
    background: linear-gradient(to right, #111827, #1f2937);
    color: white;
    text-align: center;
    margin-top: 100px;
    font-family: Arial;
}
    

h1{
    font-size: 50px;
}
button{
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: white;
}
button{
    background-color: cyan;
    transform: scale(1.05);
    transition: 0.3s;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

li{
    cursor: pointer;
}
.card{
    background-color: rgba(255,255,255,0.1);
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
}
input{
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 10px;
}